.idea
*.DS_Store
.ruby-version

# Ignore configuration files that may contain sensitive information.
webroot/sites/*/settings.*.php

# Ignore paths that contain generated content.
webroot/sites/*/files
webroot/sites/*/private

/logs
/sql

# Cache and dev files
.sass-cache
webroot/sites/all/modules/reroute_email
webroot/sites/all/modules/stage_file_proxy


