.idea
*.DS_Store
.ruby-version
*.sublime-workspace

# Ignore configuration files that may contain sensitive information.
webroot/sites/*/settings.*.php

# Ignore paths that contain generated content.
webroot/sites/*/files
webroot/sites/*/private

/logs
/sql
.editorconfig
*.sql.gz
*.sql

# Cache and dev files
.sass-cache
webroot/sites/all/modules/stage_file_proxy


