/**
 * Poll / Simple Voting module
 */

/* General block display  */
.block-simple-voting {
  .poll {
    .title {
      font-weight: bold;
    }
    .choices {
      margin: 0;
    }
    .form-type-radio {
      margin-bottom: .5em;
      width: 230px;
    }
    .form-radio {
      display: inline-block;
      width: 20px;
    }
    label.option {
      display: inline-block;
      vertical-align: middle;
      max-width: 200px;
    }

    .bar .foreground {
      background-color: #88cb62;
    }
  }

  ul.links {
    text-align: center;
    padding: 0;
  }
}
